.auth-options {
  display: block;
  position: absolute;
  background: none;
  width: 100px;
  z-index: 1000;
}

.auth-options button {
  background-color: rgba(73, 73, 73, 0.651);
  color: white;
  font-weight: bold;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
}

.auth-rename {
  left: 0;
  right: 0;
  top: 0;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.auth-rename p {
  background: none;
  margin: 0;
}

.auth-delete {
  border: none;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .auth-options {
    display: none;
    min-width: 180px;
    max-width: initial;
  }
  .auth-options button {
    min-height: 90px;
  }
  .auth-options button:hover {
    background-color: rgba(34, 33, 33, 0.651);
  }
  .gallery-image:hover .auth-options {
    display: block;
  }
}