.categories-wrapper {
  -webkit-animation: fadein 0.6s;
     -moz-animation: fadein 0.6s;
      -ms-animation: fadein 0.6s;
       -o-animation: fadein 0.6s;
          animation: fadein 0.6s;
}

.categories-area {
  max-width: 340px;
  display: inline-block;
  margin: auto;
  text-align: left;
}

.category {
  display: inline-block;
  background-color: ghostwhite;
  border: 1px solid rgb(97, 97, 97);

  width: 100px;

  margin: 1.5%;
}

.category:hover {
  cursor: pointer;
}

.category img {
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
  object-fit: cover;
}

/* .category a {
  text-decoration: none;
  background-color: ghostwhite;
  color: black;

  display: inline-block;
  width: 100%;
  min-height: 60px;
  padding-top: 40px;
} */

/* .category a:visited {
  background-color: ghostwhite;
  color: black;
} */

/* Custom styles */
/* .c-pencil a, .c-pencil a:visited {
  background-color: rgb(172, 237, 240);
  color: rgb(54, 40, 14);
}

.c-pendandink a, .c-pendandink a:visited {
  background-color: rgb(210, 189, 230);
  color: rgb(54, 54, 21);
}

.c-sculpture a, .c-sculpture a:visited {
  background-color: rgb(160, 226, 147);
  color: rgb(37, 9, 9);
}

.c-digital a, .c-digital a:visited {
  background-color: rgb(224, 171, 182);
  color: rgb(9, 32, 9);
} */


/* Desktop */
@media only screen and (min-width: 760px) {
  .categories-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .categories-area {
    max-width: 440px;
  }
  .category {
    width: 200px;
  }
  /* .category a {
    min-height: 100px;
    padding-top: 82px;
    font-size: 18px;
  } */
}